.App {
  display: grid;
  gap: 1rem;
}
.header {
  padding: 1rem;
  text-align: start;
  color: royalblue;
}
.main {
  padding: 1rem;
}
.article-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1rem;
  justify-content: center;
}
.article {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 1rem;
}
.article-image {
  width: 100%;
  height: auto;
}
.article-info {
  display: grid;
  padding: 1rem;
  gap: 0.5rem;
}
a {
  all: unset;
}
.full-article {
  display: grid;
  gap: 1rem;
}
.full-article-container {
  display: grid;
  gap: 1rem;
  /* width: 500px; */
  grid-template-rows: auto auto auto 1fr;
  place-content: center;
  padding: 3rem;
  /* place-content: center; */
  /* align-content: center; */
}
.full-article__image {
  width: 100%;
}
